

  
[data-theme="dark"] .nav-item {
  color: var(--card-bg);
}
  
.notificationContainer {
  position: relative;
  z-index: 1000; 
}

.notificationDropdown {
  position: absolute; 
  top: 100%; 
  right: 0;
  z-index: 9999; 
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
